@model Authentication.Models.Brochure
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.EditorFor(model => model.Name, new { @class = "form-control" })</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Color)
            <p>@Html.EditorFor(model => model.Color)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Theme)
            <p>@Html.EditorFor(model => model.Theme)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Price)
            <p>@Html.EditorFor(model => model.Price)</p>
        </div>

        <p><input type="submit" value="Добавить" /></p>
    }
</div>
